<div class="sidebar">

  <h2>Mini CRM</h2>

  <ul>

    <li>
    <a
      routerLink="/"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }">
      🏠 Dashboard
    </a>
</li>

    <li>
      <a routerLink="/exercise1">
        1. Lead Status Pill
      </a>
    </li>

    <li>
      <a routerLink="/exercise2">
        2. Lead Card
      </a>
    </li>

    <li>
      <a routerLink="/exercise4">
        3. Lead Details
      </a>
    </li>

    <li>
      <a routerLink="/exercise5">
         4. Add New Lead
      </a>
    </li>
    
    <li>
      <a routerLink="/exercise10">
        5. HttpClient
      </a>
    </li>

  </ul>

</div>

