<h1> HttpClient & APIs</h1>

<!-- Loading State -->
<div *ngIf="loading">

  <h3>Loading leads...</h3>

</div>

<!-- Error State -->
<div *ngIf="errorMessage">

  <h3>{{ errorMessage }}</h3>

</div>

<!-- API Lead List -->
<div *ngIf="!loading && !errorMessage">

  <div
    class="user-card"
    *ngFor="let lead of leads">

    <h3>{{ lead.name }}</h3>

    <p>Company: {{ lead.company }}</p>

    <p>Email: {{ lead.email }}</p>

    <p>Phone: {{ lead.phone }}</p>

    <p>Status: {{ lead.status }}</p>

  </div>

</div>